/* Global styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	color: #000000;
}

body {
	font-family: "Raleway";
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	padding: 0 102px;
}

.lightgray {
	background: lightgray;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 33px;
	}
}

@media screen and (min-width: 1081px) {
	.container {
		padding: 0 200px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	background: #fff;
	width: 100%;
}

/* Header */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-bottom: 2px solid #000000;
}

.header__logo {
	display: flex;
	width: 263px;
	height: 98px;
}

.header__logo-mobile {
	display: none;
}

.header__search {
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.header__searchbox {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
}

.header__searchbox.active {
	opacity: 1;
	visibility: visible;
}

.header__search-icon {
	position: relative;
	left: 30px;
	width: 26px;
	height: 26px;
}

.header__search-icon.active {
	left: 0;
}

.header__search-close {
	width: 26px;
	height: 26px;
	opacity: 0;
	visibility: hidden;
}

.header__search-close.active {
	opacity: 1;
	visibility: visible;
}

.header__input {
	height: 100%;
	width: 100%;
	border-style: hidden;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	font-style: normal;
	padding-right: 70px;
}

.header__input:focus {
	outline: none;
}

.header__burgerbox {
	width: 30px;
	height: 30px;
	position: relative;
	display: none;
}

.header__burger {
	position: relative;
	display: none;
}

@media screen and (max-width: 768px) {
	.header {
		justify-content: space-between;
	}
	.header__logo {
		align-items: center;
		width: 175px;
	}

	.header__logo-desktop {
		display: none;
	}

	.header__logo-mobile {
		display: block;
	}

	.header__search-icon {
		width: 20px;
		left: 0;
	}

	.header__search-close {
		width: 20px;
	}

	.header__burger.hide {
		display: none;
	}

	.header__burger {
		width: 30px;
		position: absolute;
		display: block;
		cursor: pointer;
		right: 35px;
		top: 35px;
		z-index: 10;
	}
}

/* Navigation */

.navbar {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	gap: 35px;
}

.mainnav__list {
	position: relative;
	padding-top: 33px;
	padding-bottom: 33px;
	border-bottom: 2px solid #d9d9d9;
}

.navbar__link {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
}

@media screen and (max-width: 1200px) {
	.navbar__link {
		font-weight: 500;
	}
}
@media screen and (max-width: 768px) {
	.open .mainnav__list {
		opacity: 1;
		visibility: visible;
		overflow: hidden;
	}

	.mainnav__list {
		right: 0;
		background: #fff;
		display: flex;
		flex-direction: column;
		height: 50%;
		width: 50%;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		border: 0;
	}

	.navbar__link {
		font-size: 16px;
		line-height: 20px;
	}
}

/* Main (news) section */

.news {
	padding-top: 224px;
	padding-bottom: 83px;
}

.wrapper {
	gap: 30px;
}

@media screen and (min-width: 1200px) {
	.wrapper {
		display: flex;
	}

	.wrapper .newsleft,
	.wrapper .newsright {
		width: 50%;
	}
}

/* Leftside news section */

.newsleft__img {
	margin-bottom: 35px;
	width: 100%;
}
.newsleft__heading {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	padding-bottom: 24px;
	border-bottom: 2px solid #d9d9d9;
}
.newsleft__post {
	padding: 24px 0;
	border-bottom: 2px solid #d9d9d9;
}
.newsleft__post-link {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

.newsleft__post-paragraph {
	margin-top: 23px;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
}

@media screen and (max-width: 768px) {
	.news {
		padding-top: 131px;
	}
	.newsleft__heading,
	.newsleft__post-link {
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
	}

	.newsleft__post-paragraph {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
	}
}

/* Article section*/

.newsleft__article-heading {
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
}
.newsleft__article-author {
	margin-top: 22px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}
.newsleft__article-date {
	margin-top: 14px;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}
.newsleft__article-post {
	margin-top: 32px;
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
}
.newsleft__article-tags {
	padding: 16px 20px;
	background: #d9d9d9;
	margin-top: 100px;
	display: flex;
}
.newsleft__article-tag {
	font-weight: 300;
	font-size: 20px;
	line-height: 23px;
	margin-right: 25px;
}
.newsleft__article-card {
	margin-top: 50px;
}
.newsleft__article-card--img {
	width: 100%;
}
.newsleft__article-card--para {
	margin-top: 32px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

@media screen and (max-width: 1200px) {
	.newsleft__article-cards {
		padding-bottom: 37px;
		border-bottom: 2px solid #d9d9d9;
	}
}

/* Rightside news section */
/* Deep leftside */

.deepnewsleft__heading {
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;
	margin: 44px 0;
}

@media screen and (max-width: 768px) {
	.deepnewsleft__heading {
		display: none;
	}
}
/* Cards */

.deepnewsleft__cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 44px;
	min-width: 250px;
}
.deepnewsleft__card {
	background: #d9d9d9;
}

.deepnewsleft__card-img {
	width: 100%;
}
.deepnewsleft__card-content {
	padding: 15px 20px 18px;
}
.deepnewsleft__card-heading {
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
}
.deepnewsleft__card-desc {
	margin-top: 30px;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

@media screen and (max-width: 1200px) {
	.deepnewsleft__cards {
		margin: 44px 0;
		flex-wrap: wrap;
		flex-direction: initial;
	}
}

@media screen and (max-width: 768px) {
	.deepnewsleft__cards {
		padding-bottom: 37px;
		border-bottom: 2px solid #d9d9d9;
	}
}

/* Adverts */

.deepnewsleft__adverts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 44px;
	gap: 44px;
}
.deepnewsleft__advert {
	max-width: 318px;
	background: #d9d9d9;
}

.deepnewsleft__advert-content {
	padding: 32px;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

.deepnewsleft__advert-img {
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.deepnewsleft__adverts {
		margin: 44px 0;
		flex-wrap: wrap;
		flex-direction: initial;
	}
}

@media screen and (max-width: 768px) {
	.deepnewsleft__advert-img {
		width: 100%;
	}

	.deepnewsleft__advert {
		max-width: 100%;
		background: initial;
	}

	.deepnewsleft__advert-content {
		padding: 0;
		margin-top: 20px;
		font-weight: 500;
	}
}

/* Deep rightside */

.deepnewsright__post {
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 2px solid #d9d9d9;
}

.deepnewsright__post:first-child {
	padding-top: 0;
}
.deepnewsright__post-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}
.deepnewsright__post-paragraph {
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	padding-top: 23px;
	padding-bottom: 18px;
}
.deepnewsright__post-date {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	margin-top: 18px;
}

@media screen and (max-width: 768px) {
	.deepnewsright {
		display: none;
	}
}

/* Footer */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 74px;
	padding-bottom: 74px;
	border-top: 2px solid #000000;
}

.footer__logo {
	display: flex;
	width: 263px;
	height: 98px;
}

.footernav {
	border: 0;
	gap: 55px;
}

@media screen and (max-width: 1080px) {
	.footer__logo {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
		align-items: baseline;

		padding: 90px;
	}

	.footernav {
		margin-top: 37px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
